@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.parent {
  font-family: "Josefin Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #55efc4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.greetings {
  width: 550px;
  height: 150px;
  background-color: #ffeaa7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello_text {
  color: #e17055;
}
.greet_text {
  color: #00b894;
}
